[core]
	filemode = false
	excludesfile = /Users/taylorlapeyre/.gitignore_global
	quotepath = false
	whitespace = trailing-space,space-before-tab
[user]
	name = Taylor Lapeyre
	email = taylorlapeyre@gmail.com
[alias]
	st = status
  cm = commit
	co = checkout
	aa = "add --all :/"
  rh = "reset --hard"
  lg = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
	stat = true
[format]
	pretty = oneline
[color]
	ui = auto
[pull]
	rebase = true
[push]
	default = simple
[branch]
	autosetupmerge = true
