[core]
	filemode = false
	excludesfile = /Users/taylorlapeyre/.gitignore_global
	quotepath = false
	whitespace = trailing-space,space-before-tab
	editor = /usr/bin/vim
[user]
	# Change these to your details
	name = Taylor Lapeyre
	email = taylorlapeyre@gmail.com
[alias]
	co  = checkout
	cm  = "commit -m"
	st  = "status -sb"
	br  = "branch -r"
	aa  = "add --all :/"
	rh  = "reset --hard"
	ap  = "add -p"
	ss  = "stash save"
[format]
	pretty = oneline
[color]
	ui = auto
[pull]
	# To eliminate pull merge commits
	rebase = true
[push]
	default = simple
[branch]
	autosetupmerge = true
